@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    .display-4{
    color:tomato;
    text-shadow: 0 0 3px black, 0 0 5px black;
    font-family: Fantasy;
    body{
        background-image: url('bg.jpg');
        background-repeat: repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
